body { background: #3a39f1; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 29px; display: flex; }
.block-database-0 { color: #179356; font-size: 17px; margin-bottom: 5px; }
.block-invoice-1 { color: #96bf17; font-size: 21px; margin-bottom: 5px; }
.block-cart-2 { color: #c0ebc5; font-size: 15px; margin-bottom: 5px; }
.block-invoice-3 { color: #4ddd6; font-size: 15px; margin-bottom: 5px; }
.block-sms-4 { color: #85098b; font-size: 21px; margin-bottom: 5px; }
.block-search-5 { color: #8a408e; font-size: 16px; margin-bottom: 5px; }